<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%-title || 'Admin' %></title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
</head>

<body>
    <!-- navbar start -->
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/admin">Admin Panel</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/editproduct">Edit Product</a>
        </li>
    </ul>
    <!-- navbar end  -->
    <hr>
    <h2 class="text-center">Admin Page</h2>
    <%if(perform){%>
        <script>alert("Add Success")</script>
        <%}%>
            <div class="container">
                <h4 class="text-center my-3">Add Products</h4>
                <form method="post" action="/addproducts">
                    <div class="form-group">
                        <input type="text" name="pname" class="my-2 form-control" placeholder="Product Name" required>
                    </div>
                    <div class="form-group">
                        <input type="number" name="pprice" class="my-2 form-control" placeholder="Enter Product Price"
                            required>
                    </div>
                    <div class="form-group">
                        <textarea class="my-2 form-control" name="pdesc" placeholder="Product Descrption" rows="3"
                            required></textarea>
                    </div>
                    <button type="submit" class="my-2 btn btn-primary">Submit</button>
                </form>
            </div>
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
                integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
                crossorigin="anonymous"></script>
</body>

</html>